<template>
  <b-row>
    <b-col>
      <vue-simple-spinner size="big" message="Loading..." v-if="showLoading"></vue-simple-spinner>
      <b-form @submit="onSubmit" v-if="!showLoading">
        <b-form-group id="twitter_moment_group"
                      label="Your Twitter Moment URL"
                      description="Paste your Twitter Moment URL">
          <b-form-input id="twitter_moment_url_input"
                        type="url"
                        v-model="twitterMoment"
                        required
                        placeholder="toto">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="outline-success">Submit</b-button>
        <b-button @click="$router.back()" variant="outline-secondary">Cancel</b-button>
      </b-form>
    </b-col>
  </b-row>
</template>
<script>
import { Socket } from 'phoenix';
import VueSimpleSpinner from 'vue-simple-spinner';
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/external-link';

export default {
  name: 'ImportTwitterMoment',
  components: {
    VueSimpleSpinner, Icon,
  },
  data() {
    return {
      twitterMoment: null,
      showLoading: false,
    };
  },
  mounted() {
    this.loadSocket();
  },
  methods: {
    loadSocket() {
      const socket = new Socket('/socket', { params: { token: localStorage.getItem('token') } });
      socket.connect();

      this.channel = socket.channel(`import:twitter_moment:${this.$store.state.user.username}`, {});
      this.channel.join()
        .receive('ok', (resp) => { console.log('Joined successfully', resp); })
        .receive('error', (resp) => { console.log('Unable to join', resp); });

      this.channel.on('finished', () => {
        console.log('finished');
        this.$router.push({ name: 'Stories' });
      });
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.showLoading = true;
      this.channel.push('import', { body: { moment: this.twitterMoment } });
    },
  },
};
</script>
<style>
.stories-list-group {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}
</style>
