<template>
  <div id="app">
    <Navbar />
    <main>
      <b-container fluid>
        <transition>
          <router-view></router-view>
        </transition>
      </b-container>
    </main>
    <footer class="footer">
      <div class="container small">
        <span class="text-muted made_by" v-html="$t('footer.made_by')"></span>
        <span class="text-muted credits" v-html="$t('footer.credits')"></span>
        <span class="text-muted licence" v-html="$t('footer.licence')"></span>
      </div>
    </footer>
    <vue-snotify></vue-snotify>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar';
import fetchStory from '@/api/fetch';

export default {
  name: 'app',
  components: {
    Navbar,
  },
  created() {
    this.getUser();
  },
  methods: {
    getUser() {
      fetchStory('/user', this.$store).then((data) => {
        this.user = data.account;
        this.$store.commit('LOAD_USER', this.user);
      }).catch((err) => {
        console.log(err);
      });
    },
  },
};
</script>

<style lang="scss">
html {
  position: relative;
  min-height: 100%;
}
.footer {
  width: 100%;
  height: 4rem; /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  border-top: 1px solid rgba(47,52,64,.1);

  .container {
    max-width: 978px;
    margin: 0 auto;
    padding: 10px 20px;
    line-height: 1.3rem;

    a {
      color: #acaeb3;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 815px) {
  .footer .container .credits {
    display: none;
  }
}

#app > main {
  min-height: calc(100vh - 2rem - 100px);
}

body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}
</style>
