<template>
  <b-container>
    <b-card no-body>
      <b-tabs card>
        <b-tab :title="$t('profile.edit.profile.title')" active>
          <b-form @submit="updateProfileAction">
            <b-form-group id="displaynameformgroup" :label="$t('profile.form.display_name.label')"
                          :description="$t('profile.form.display_name.desc')">
              <b-form-input
                label="display_name"
                type="text"
                v-model="user.display_name"
                required
                :state="state.display_name.status"
              >
              </b-form-input>
              <b-form-invalid-feedback>
                {{ $t(state.email.msg) }}
              </b-form-invalid-feedback>
            </b-form-group>
            <!--<h5>Avatar</h5>
            <div v-if="mediaURL === null">
              <div class="UppyDragDrop-One" ref="uppyDragDrop"></div>
              <div class="UppyDragDrop-One-Progress" ref="uppyDragDropProgress"></div>
            </div>
            <div v-else>
              <b-img :src="mediaURL"></b-img>
            </div>-->
            <b-button type="submit" variant="primary">{{ $t('profile.form.update_btn') }}</b-button>
            <b-button type="cancel" @click="() => $router.back()" variant="outline-danger">{{ $t('profile.form.cancel_btn') }}</b-button>
          </b-form>
        </b-tab>
        <b-tab :title="$t('profile.edit.account.title')">
          <b-form @submit="updateAccountAction">
            <b-form-group id="emailformgroup"
                          :label="$t('profile.form.email.label')"
                          :description="$t('profile.form.email.desc')">
              <b-form-input
                label="email"
                type="email"
                v-model="user.email"
                required
                :state="state.email.status"
              >
              </b-form-input>
              <b-form-invalid-feedback>
                {{ $t(state.email.msg) }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-button type="submit" variant="primary">{{ $t('profile.form.update_btn') }}</b-button>
            <b-button type="cancel" @click="() => $router.back()" variant="outline-danger">{{ $t('profile.form.cancel_btn') }}</b-button>
          </b-form>
        </b-tab>
        <b-tab :title="$t('profile.edit.password.title')">
          <b-form @submit="updatePasswordAction">
            <b-form-group id="passwordformgroup"
                          :label="$t('registration.form.password.label')"
                          :description="$t('registration.form.password.desc')">
              <b-form-input
                label="password"
                type="password"
                v-model="user.password"
                required
                :state="state.password.status"
              >
              </b-form-input>
              <b-form-invalid-feedback>
                {{ $t(state.password.msg) }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-button type="submit" variant="primary">{{ $t('profile.form.update_btn') }}</b-button>
            <b-button type="cancel" @click="() => $router.back()" variant="outline-danger">{{ $t('profile.form.cancel_btn') }}</b-button>
          </b-form>
        </b-tab>
      </b-tabs>
    </b-card>
  </b-container>
</template>
<script>
import fetchStory from '@/api/fetch';
import VueSimpleSpinner from 'vue-simple-spinner';

/* import Uppy from 'uppy/lib/core';
import DragDrop from 'uppy/lib/plugins/DragDrop';
import ProgressBar from 'uppy/lib/plugins/ProgressBar';
import Tus from 'uppy/lib/plugins/Tus';
import 'uppy/dist/uppy.css';
import { API_ORIGIN } from '@/api/_entrypoint'; */

export default {
  name: 'EditProfile',
  props: ['slug'],
  components: {
    VueSimpleSpinner,
  },
  data() {
    return {
      user: {
        username: '',
        slug: '',
        display_name: '',
        avatar: '',
      },
      no_user: false,
      loading: true,
      mediaURL: null,
      state: {
        email: {
          status: null,
          msg: '',
        },
        password: {
          status: null,
          msg: '',
        },
        display_name: {
          status: null,
          msg: '',
        },
      },
    };
  },
  async mounted() {
    await this.fetchProfile();
    this.loadUppy();
  },
  methods: {
    async fetchProfile() {
      let url = '/user';
      if (this.slug) {
        url += `s/${this.slug}`;
      }
      await fetchStory(url, this.$store).then((data) => {
        this.user = data.account;
        this.user.email = this.$store.state.user.email;
      }).catch((err) => {
        console.log(err);
        this.no_user = true;
        this.loading = false;
      });
    },
    updateProfileAction(evt) {
      evt.preventDefault();
      fetchStory('/user', this.$store, { method: 'PATCH', body: JSON.stringify({ account: { display_name: this.user.display_name, avatar: this.user.avatar } }) }).then((data) => {
        this.user = data.account;
        this.$snotify.success(this.$i18n.translate('profile.edit.profile.success'));
        this.$router.push({ name: 'Profile', params: { slug: this.slug } });
      }).catch((err) => {
        console.log(err);
      });
    },
    updateAccountAction(evt) {
      evt.preventDefault();
      fetchStory('/user', this.$store, { method: 'PATCH', body: JSON.stringify({ account: { email: this.user.email } }) }).then((data) => {
        this.$snotify.success(this.$i18n.translate('profile.edit.account.success'));
        this.$router.push({ name: 'Profile', params: { slug: this.slug } });
        this.user = data.account;
      }).catch((err) => {
        Promise.resolve(err).then((data) => {
          console.log(data);
          Object.keys(data.errors).forEach((type) => {
            data.errors[type].forEach((error) => {
              this.state[type] = { status: false, msg: error };
            });
          });
        });
      });
    },
    updatePasswordAction(evt) {
      evt.preventDefault();
      fetchStory('/user', this.$store, { method: 'PATCH', body: JSON.stringify({ account: { password: this.user.password } }) }).then((data) => {
        this.$snotify.success(this.$i18n.translate('profile.edit.password.success'));
        this.$router.push({ name: 'Profile', params: { slug: this.slug } });
        console.log(data);
      }).catch((err) => {
        console.log(err);
      });
    },
    /* loadUppy() {
      this.$nextTick().then(() => {
        const uppy = Uppy({
          debug: true,
          restrictions: {
            maxFileSize: 10000000,
            maxNumberOfFiles: 1,
            minNumberOfFiles: 1,
            allowedFileTypes: ['image/!*'],
          },
        })
          .use(DragDrop, { target: this.$refs.uppyDragDrop, maxHeight: 300 })
          .use(Tus, { endpoint: `${API_ORIGIN}/files/`, withCredentials: true,
          headers: { Authorization: `Bearer ${localStorage.getItem('token')}` } })
          .use(ProgressBar, { target: this.$refs.uppyDragDropProgress })
          .run();

        uppy.on('complete', (result) => {
          if (result.successful.length > 0) {
            const fileURI = result.successful[0].uploadURL;
            const uriParts = fileURI.split('/');
            this.user.avatar = uriParts[uriParts.length - 1];
            this.mediaURL = fileURI;
            console.log(this.user.avatar);
          }
        });
      });
    }, */
  },
};
</script>
