<template>
  <div>
    <b-row>
      <b-form inline @submit="search">
        <b-form-input :placeholder="$t('my_stories.filter.search.placeholder')" v-model="searchTerm"></b-form-input>
        <b-button type="submit" variant="success">{{ $t('my_stories.filter.search.button') }}</b-button>
        {{ $t('my_stories.filter.order_by.label') }}
        <b-form-select v-model="searchOrderSelected" :options="searchOrderOptions" class="mb-3" />
        <b-form-select v-model="searchDirectionSelected" :options="searchDirectionOptions" class="mb-3" />
        <b-button variant="outline-success" :to="{ name: 'ImportStorify' }">{{ $t('home.cards.import_storify.button') }}</b-button>
        <b-button variant="outline-success" :to="{ name: 'NewStory' }">{{ $t('home.cards.create_story.button') }}</b-button>
      </b-form>
    </b-row>
    <vue-simple-spinner size="big" message="Loading..." v-if="loading"></vue-simple-spinner>
    <div v-if="stories.length > 0">
      <div>
        <b-card-group columns v-if="!loading">
          <b-card v-for="story in stories" :title="story.title"
                  tag="article"
                  :key="story.id"
                  :img-src="image_url(story)"
          >
            <p class="card-text">
              {{ story.description }}
            </p>
            <p class="card-text"><small class="text-muted">{{ $t('story.last_updated_on', {time: from(story.updated_at)}) }}</small></p>
            <b-button :to="{ name: 'Story', params: { slug: story.slug, username: story.user.username, preview: 'preview' } }" variant="primary">{{ $t('story.view_story') }}</b-button>
          </b-card>
        </b-card-group>
      </div>
      <b-pagination-nav v-if="!loading" :use-router="true" :link-gen="linkGen" align="center" :number-of-pages="pagination.total_pages" v-model="pagination.page_number" />
    </div>
    <div v-else>
      <h2>{{ $t('story.no_stories') }}</h2>
      <b-button :to="{ name: 'NewStory' }">{{ $t('story.create_story') }}</b-button>
    </div>
  </div>
</template>

<script>
import fetchStory from '@/api/fetch';
import VueSimpleSpinner from 'vue-simple-spinner';
import { API_HOST } from '@/api/_entrypoint';

export default {
  name: 'MyStories',
  props: {
    page: {
      type: String,
      required: false,
      default: '1',
    },
  },
  components: {
    VueSimpleSpinner,
  },
  mounted() {
    this.fetchData();
  },
  data() {
    return {
      stories: [],
      loading: true,
      prefix: API_HOST,
      pagination: { page_number: parseInt(this.page, 10) },
      searchTerm: '',
      searchOrderSelected: 'inserted_at',
      searchOrderOptions: [
        { value: 'inserted_at', text: this.$i18n.translate('my_stories.filter.order_by.inserted_at') },
        { value: 'updated_at', text: this.$i18n.translate('my_stories.filter.order_by.updated_at') },
        { value: 'title', text: this.$i18n.translate('my_stories.filter.order_by.title') },
      ],
      searchDirectionSelected: 'desc',
      searchDirectionOptions: [
        { value: 'desc', text: this.$i18n.translate('my_stories.filter.direction.desc') },
        { value: 'asc', text: this.$i18n.translate('my_stories.filter.direction.asc') },
      ],
    };
  },
  computed: {
    page_number() { return this.pagination.page_number; },
  },
  watch: {
    page_number() {
      this.fetchData();
    },
    searchOrderSelected() {
      this.fetchData();
    },
    searchDirectionSelected() {
      this.fetchData();
    },
  },
  methods: {
    fetchData() {
      fetchStory(`/user/stories?page=${this.pagination.page_number}&order_by=${this.searchOrderSelected}&direction=${this.searchDirectionSelected}&search=${this.searchTerm}`, this.$store).then((response) => {
        this.stories = response.stories;
        this.pagination = response.page;
        this.loading = false;
      });
    },
    image_url(story) {
      return story.header ? story.header : null;
    },
    from(date) {
      return this.$options.filters.moment(date, 'from');
    },
    search(evt) {
      evt.preventDefault();
      this.fetchData();
    },
    linkGen(page) {
      return { name: 'MyStories', params: { page: page.toString() } };
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
