<template>
  <b-navbar toggleable="md" type="dark" variant="info">

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand :to="{ name: 'Home' }"><img src="../../static/img/icons/needle.svg" alt="Logo" class="d-inline-block align-top logo"/>{{ $t('pickweaver.app_name') }} <sup>BETA</sup></b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

      <b-navbar-nav v-if="$store.state.user">
        <b-nav-item :to="{ name: 'MyStories' }">{{ $t('navbar.my_lists') }}</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav>
        <b-nav-item :to="{ name: 'Stories' }">{{ $t('navbar.explore_public_lists') }}</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">

        <!--<b-nav-form @submit="search">
          <b-form-input size="sm" class="mr-sm-2" type="text" :placeholder="$t('navbar.search')" v-model="search_term"/>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">{{ $t('navbar.search') }}</b-button>
        </b-nav-form>-->

        <!--<b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>-->
        <b-navbar-nav v-if="!$store.state.user">
          <b-nav-item :to="{ name: 'Login' }">{{ $t('navbar.login') }} <icon name="user"></icon></b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav v-if="$store.state.user">
          <b-nav-item :to="{ name: 'Profile', params: { slug: $store.state.user.slug } }">{{ $store.state.user.username }} <icon name="user"></icon></b-nav-item>
        </b-navbar-nav>
      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
</template>

<script>
import auth from '@/auth';
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/user';

export default {
  name: 'Navbar',
  data() {
    return {
      user: {
        username: '',
      },
      search_term: '',
    };
  },
  components: {
    Icon,
  },
  methods: {
    search(evt) {
      evt.preventDefault();
      if (this.search_term !== '') {
        return this.$router.push({ name: 'Search', params: { search_term: this.search_term } });
      }
      return null;
    },
    signOut() {
      auth.logout();
      this.$store.commit('LOGOUT_USER');
      this.$snotify.info('You have been logged out');
      this.user = null;
    },
  },
};
</script>
<style>
  .logo {
    height: 1.9em;
    margin-right: 3px;
  }
</style>
