<template>
  <b-container>
    <vue-simple-spinner size="big" message="Loading..." v-if="loading"></vue-simple-spinner>
    <div v-if="!loading && !no_user">
      <b-card class="card-profile text-center">
        <!--<b-img src="https://picsum.photos/300/?random" />-->
        <b-img v-if="user.avatar" :src="avatar_url(user)" class="card-img-profile"/>
        <h4 v-if="$store.state.user" class="card-title">{{ $t('profile.hello', {user: user.display_name}) }} <small>@{{ user.username }}</small></h4>
        <h4 v-else class="card-title">{{ user.display_name }} <small>@{{ user.username }}</small></h4>
        <div class="card-stats">
          <span>{{ $t('profile.stats.stories', {stories: user.stats.stories}) }}</span>
        </div>
        <b-btn v-if="$store.state.user.id === user.id" :to="{ name: 'EditProfile', params: { slug: $store.state.user.slug } }" variant="outline-primary">Edit profile</b-btn>
        <b-btn v-if="$store.state.user.id === user.id" @click="disconnect" variant="outline-danger">{{ $t('profile.disconnect.btn') }}</b-btn>
      </b-card>
      <div v-if="stories.length > 0">
        <div>
          <b-card-group columns v-if="!loading">
            <b-card v-for="story in stories" :title="story.title"
                    tag="article"
                    :key="story.id"
                    :img-src="image_url(story)"
            >
              <p class="card-text">
                {{ story.description }}
              </p>
              <p class="card-text"><small class="text-muted">{{ $t('story.last_updated_on', {time: from(story.updated_at)}) }}</small></p>
              <b-button :to="{ name: 'Story', params: { slug: story.slug, username: story.user.username, preview: $store.state.user.id === user.id ? 'preview' : false } }" variant="primary">{{ $t('story.view_story') }}</b-button>
            </b-card>
          </b-card-group>
        </div>
        <b-pagination v-if="!loading" align="center" :total-rows="page.total_entries" v-model="page.page_number" :per-page="page.page_size" />
      </div>
      <div v-else-if="$store.state.user.id === user.id">
        <h2>{{ $t('profile.no_stories') }}</h2>
        <b-button :to="{ name: 'NewStory' }">{{ $t('story.create_story') }}</b-button>
      </div>
      <div v-else>
        <h2>{{ $t('profile.no_stories_anon', {user: user.username}) }}</h2>
      </div>
    </div>
    <div v-if="no_user">
      Sorry, there's no user with this username. :(
    </div>
  </b-container>
</template>
<script>
import fetchStory from '@/api/fetch';
import { API_ORIGIN } from '@/api/_entrypoint';
import VueSimpleSpinner from 'vue-simple-spinner';
import auth from '@/auth';

export default {
  name: 'Profile',
  props: ['slug'],
  components: {
    VueSimpleSpinner,
  },
  data() {
    return {
      user: {},
      page: { page_number: 1 },
      stories: [],
      no_user: false,
      loading: true,
      prefix: API_ORIGIN,
    };
  },
  computed: {
    page_number() { return this.page.page_number; },
  },
  watch: {
    page_number() {
      this.fetchData();
    },
  },
  async mounted() {
    await this.fetchProfile();
    this.fetchStories();
  },
  methods: {
    async fetchProfile() {
      let url = '/user';
      if (this.slug) {
        url += `s/${this.slug}`;
      }
      await fetchStory(url, this.$store).then((data) => {
        this.user = data.account;
      }).catch((err) => {
        console.log(err);
        this.no_user = true;
        this.loading = false;
      });
    },
    fetchStories() {
      fetchStory(`/users/${this.slug}/stories`, this.$store).then((data) => {
        this.stories = data.stories;
        this.loading = false;
      });
    },
    from(date) {
      return this.$options.filters.moment(date, 'from');
    },
    image_url(story) {
      return story.media ? `${this.prefix}/files/${story.media.uuid}` : null;
    },
    avatar_url(user) {
      if (user.avatar.startsWith('http')) {
        return user.avatar;
      }
      return `${this.prefix}/files/${user.avatar}`;
    },
    disconnect() {
      auth.logout(this.$store);
      this.$router.push({ name: 'Home' });
      this.$snotify.success(this.$i18n.translate('profile.disconnect.success'));
    },
  },
};
</script>

<style>
  .card-profile {
    width: 340px;
    margin: 50px auto;
    background-color: #e6e5e1;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  }
  .card-profile .card-img-top {
    border-radius: 0;
  }
  .card-profile .card-img-profile {
    max-width: 100%;
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 35px;
    border: 5px solid #e6e5e1;
  }
  .card-profile .card-title {
    margin-bottom: 50px;
  }
  .card-profile .card-title small {
    display: block;
    font-size: .6em;
    margin-top: .2em;
  }
  .card-profile .card-stats {
    margin-bottom: 25px;
  }
  .card-profile .card-stats a {
    margin: 0 1em;
    font-size: 1.6em;
  }

</style>
