<template>
  <div>
    <b-form @submit="registerAction">
      <b-form-group id="emailformgroup"
                    :label="$t('registration.form.email.label')"
                    :description="$t('registration.form.email.desc')">
        <b-form-input
          label="email"
          type="email"
          v-model="credentials.email"
          required
          :state="state.email.status"
        >
        </b-form-input>
        <b-form-invalid-feedback>
          {{ $t(state.email.msg) }}
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="usernameformgroup"
                    :label="$t('registration.form.username.label')">
        <b-form-input
          label="username"
          type="text"
          v-model="credentials.username"
          required
          :state="state.username.status"
        >
        </b-form-input>
        <b-form-invalid-feedback>
          {{ $t(state.username.msg) }}
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="passwordformgroup"
                    :label="$t('registration.form.password.label')"
                    :description="$t('registration.form.password.desc')">
        <b-form-input
          label="password"
          type="password"
          v-model="credentials.password"
          required
          :state="state.password.status"
        >
        </b-form-input>
        <b-form-invalid-feedback>
          {{ $t(state.password.msg) }}
        </b-form-invalid-feedback>
      </b-form-group>
      <b-button type="submit" variant="primary">{{ $t('registration.form.register_btn') }}</b-button>
      <b-button variant="outline-primary" @click="$router.push({ name: 'Login' })">{{ $t('session.form.login_btn') }}</b-button>
    </b-form>
  </div>
</template>

<script>
  import auth from '@/auth';

  export default {
    name: 'Register',
    data() {
      return {
        credentials: {
          email: '',
          username: '',
          password: '',
        },
        error: {
          show: false,
        },
        state: {
          email: {
            status: null,
            msg: '',
          },
          username: {
            status: null,
            msg: '',
          },
          password: {
            status: null,
            msg: '',
          },
        },
      };
    },
    methods: {
      registerAction(e) {
        this.resetState();
        e.preventDefault();
        auth.signup(JSON.stringify(this.credentials), (data) => {
          this.$store.commit('LOGIN_USER', data.account);
          this.$snotify.success(this.$t('registration.success.login', { username: data.account.username }));
          this.$router.push({ name: 'Home' });
        }, (error) => {
          Promise.resolve(error).then((errormsg) => {
            console.log(errormsg);
            this.error.show = true;
            Object.entries(errormsg.errors).forEach(([key, val]) => {
              console.log(key);
              console.log(val[0]);
              this.state[key] = { status: false, msg: val[0] };
            });
          });
        });
      },
      resetState() {
        this.state = {
          email: {
            status: null,
            msg: '',
          },
          username: {
            status: null,
            msg: '',
          },
          password: {
            status: null,
            msg: '',
          },
        };
      },
    },
  };
</script>
