<template>
  <div>
    <b-table :items="stories" :fields="['title', 'description']">
      <template slot="title" slot-scope="data">
        <router-link :to="{ name: 'Story', params: {slug: data.item.slug} }">
          {{data.item.title}}
        </router-link>
      </template>
    </b-table>
  </div>
</template>

<script>
import fetchStory from '@/api/fetch';

export default {
  name: 'Search',
  props: ['search_term'],
  mounted() {
    this.fetchData();
  },
  data() {
    return {
      stories: [],
    };
  },
  methods: {
    fetchData() {
      console.log(this.search_term);
      fetchStory(`/search/${this.search_term}`, this.$store).then((response) => {
        this.stories = response.stories;
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
