<template>
  <div>
    <div v-if="imports.length > 0">
      <b-button @click="retryAll">Retry all</b-button>
      <b-table stripped hover :items="imports" :fields="['url', 'status', 'tentatives', 'retry', 'deleteImport']">
        <template slot="url" slot-scope="data">
          {{ data.item.url }} <a rel="noopener" target="_blank" :href="data.item.url">(open)</a>
        </template>
        <template slot="deleteImport" slot-scope="data">
          <b-btn @click="deleteImport(data.item.id)">Delete</b-btn>
        </template>
        <template slot="retry" slot-scope="data">
          <b-btn @click="retryImport(data.item.id)">Retry</b-btn>
        </template>
      </b-table>
    </div>
    <div v-else>
      <h1>No imports</h1>
    </div>
  </div>
</template>
<script>
  import fetchStory from '@/api/fetch';

  export default {
    name: 'ImportQueue',
    data() {
      return {
        imports: [],
      };
    },
    created() {
      this.fetchImports();
    },
    methods: {
      fetchImports() {
        fetchStory('/imports', this.$store).then((data) => {
          this.imports = data;
        });
      },
      retryImport(importId) {
        fetchStory(`/imports/${importId}/retry`, this.$store).then(() => {
          this.$snotify.success(this.$i18n.translate('import.queue.retry.success'));
        });
      },
      deleteImport(importId) {
        fetchStory(`/imports/${importId}/delete`, this.$store).then(() => {
          this.$snotify.success(this.$i18n.translate('import.queue.remove.success'));
          this.imports.filter(myImport => myImport.id !== importId);
        });
      },
      retryAll() {
        fetchStory('/imports/retry', this.$store).then((data) => {
          console.log(data);
        });
      },
    },
  };

</script>
