<template>
  <b-row>
    <b-col>
      <vue-simple-spinner size="big" message="Loading..." v-if="showLoading"></vue-simple-spinner>
      <b-form @submit="onSubmit" v-if="!showLoading">
        <b-form-group id="urlgroup"
                      label="URL of your Storify Story"
                      description="Paste your storify story URL">
          <b-form-input id="urlinput"
                        type="url"
                        v-model="url"
                        required
                        placeholder="Paste URL">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="outline-success">Submit</b-button>
        <b-button @click="$router.back()" variant="outline-secondary">Cancel</b-button>
      </b-form>
    </b-col>
  </b-row>
</template>
<script>
import fetchStory from '@/api/fetch';
import VueSimpleSpinner from 'vue-simple-spinner';

export default {
  name: 'ImportStorifyURL',
  components: {
    VueSimpleSpinner,
  },
  data() {
    return {
      url: null,
      showLoading: false,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.showLoading = true;

      fetchStory('/import/storify/url', this.$store, { method: 'POST', body: JSON.stringify({ url: this.url }) })
        .then((response) => {
          console.log(response);
          this.story = response.story;
          this.showLoading = false;
          this.$snotify.success(this.$i18n.translate('import.storify.single_url.success'));
          this.$router.push({ name: 'Story', params: { slug: this.story.slug, username: this.story.user.username, preview: 'preview' } });
        }).catch((err) => {
          this.showLoading = false;
          this.$snotify.error(this.$i18n.translate('import.storify.single_url.failure'));
          console.log(err);
        });
    },
  },
};
</script>
