<template>
  <b-row>
    <b-col>
      <vue-simple-spinner size="big" message="Loading..." v-if="showLoading"></vue-simple-spinner>
      <div v-if="stories != null">
        <h2>There's {{ stories.length }} stories to process</h2>
        <p>Do you want to import the following stories into your account ?</p>
        <b-list-group class="stories-list-group">
          <b-list-group-item v-for="story in stories" :key="story.url" :variant="story.status === 4 ? 'primary' : ''">
            <b-media>
              <b-img slot="aside" :src="story.thumbnail" height="40" alt="placeholder" />
              <b-row align-h="between">
                <b-col>
                  <h5>{{ story.title }} <a :href="story.url" target="_blank" rel="noopener noreferrer"><icon name="external-link"></icon></a></h5>
                  <p>{{ story.description }}</p>
                </b-col>
                <b-col col lg="1">
                  <b-form-checkbox id="checkbox1"
                     v-model="story.import"
                     :value="true"
                     :unchecked-value="false" />
                </b-col>
              </b-row>
            </b-media>
          </b-list-group-item>
        </b-list-group>
        <b-button @click="importStories()" variant="outline-success">Import</b-button>
        <b-button @click="$router.back()" variant="outline-secondary">Cancel</b-button>
      </div>
      <b-form @submit="onSubmit" v-if="!showLoading && stories == null">
        <b-form-group id="profilegroup"
                      label="Your Storify profile"
                      description="Paste your storify profile name">
          <b-form-input id="profileinput"
                        type="text"
                        v-model="profile"
                        required
                        placeholder="toto">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="outline-success">Submit</b-button>
        <b-button @click="$router.back()" variant="outline-secondary">Cancel</b-button>
      </b-form>
    </b-col>
  </b-row>
</template>
<script>
import { Socket } from 'phoenix';
import { API_WEBSOCKET } from '@/api/_entrypoint';
import VueSimpleSpinner from 'vue-simple-spinner';
import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/external-link';

export default {
  name: 'ImportStorifyProfile',
  components: {
    VueSimpleSpinner, Icon,
  },
  data() {
    return {
      profile: null,
      showLoading: false,
      stories: null,
      storiesToFetch: [],
    };
  },
  mounted() {
    this.loadSocket();
  },
  methods: {
    loadSocket() {
      const socket = new Socket(`${API_WEBSOCKET}/socket`, { params: { token: localStorage.getItem('token') } });
      socket.connect();

      this.channel = socket.channel(`import:storify:${this.$store.state.user.username}`, {});
      this.channel.join()
        .receive('ok', (resp) => { console.log('Joined successfully', resp); })
        .receive('error', (resp) => { console.log('Unable to join', resp); });

      this.channel.on('return_profile', (payload) => {
        this.stories = payload.stories;
        this.showLoading = false;
      });

      this.channel.on('processed_story', (payload) => {
        this.storiesToFetch.find(story => story.url === payload.story.url).status = 4;
      });

      this.channel.on('saved_imports', () => {
        this.$snotify.success(this.$t('import.storify.profile.saved'));
        this.$router.push({ name: 'ImportQueue' });
      });

      this.channel.on('finished', () => {
        console.log('finished');
        this.$router.push({ name: 'Stories' });
      });
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.showLoading = true;
      this.channel.push('profile', { body: { account_name: this.profile } });
    },
    importStories() {
      this.storiesToFetch = this.stories.filter(story => story.import === true);

      this.channel.push('import', { body: { stories: this.storiesToFetch } });
    },
  },
};
</script>
<style>
.stories-list-group {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}
</style>
