<template>
  <div class="element-wrapper">
    <b-row>
      <b-col v-if="doShowActionButtons" lg="1">
        <div class="dragelem">
          <icon name="bars"></icon>
        </div>
      </b-col>
      <b-col>
        <div class="element">
          <tweet :tweet="element.data" v-if="element.type === 'tweet'" :key="element.id" />
          <text-card :text="element.data" v-else-if="element.type === 'text'" :key="element.id" />
          <open-graph :opengraph="element.data" v-else-if="element.type === 'opengraph'" :key="element.id" />
          <you-tube :youtube="element.data" v-else-if="element.type === 'youtube'" :key="element.id" />
          <basic :metadata="element.data" v-else-if="element.type === 'basic'" :key="element.id" />
          <div v-else-if="element.type === 'loading'">
            <vue-simple-spinner size="big" message="Loading..." />
            <b-button variant="outline-danger" size="sm" @click="doRemoveElement">
              <icon name="trash"></icon> Cancel
            </b-button>
          </div>
          <new-element v-else-if="element.type === 'new'" :saveElement="doSaveElement" :removeElement="doRemoveElement" :element="element" />
          <span v-else>Something wrong happened : type {{ element.type }}</span>
          <!--<div v-if="doShowActionButtons">
            <b-button variant="outline-primary" size="sm" @click="editElement(element)"><icon name="edit"></icon> Edit</b-button>
            <b-button variant="outline-danger" size="sm" @click="removeElement(element)"><icon name="trash"></icon> Remove</b-button>
          </div>-->
        </div>
      </b-col>
      <b-col v-if="doShowActionButtons" lg="1">
        <b-button class="deleteelem" @click="doRemoveElement">
          <icon name="trash"></icon>
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>
<script>
  import VueSimpleSpinner from 'vue-simple-spinner';
  import Icon from 'vue-awesome/components/Icon';
  import 'vue-awesome/icons/trash';
  import 'vue-awesome/icons/bars';

  import Tweet from '@/components/story/cards/tweet';
  import TextCard from '@/components/story/cards/textcard';
  import OpenGraph from '@/components/story/cards/opengraph';
  import Basic from '@/components/story/cards/basic';
  import YouTube from '@/components/story/cards/youtube';
  import NewElement from '@/components/story/cards/newelement';

  export default {
    name: 'ElementWrapper',
    components: {
      Tweet,
      TextCard,
      OpenGraph,
      YouTube,
      Basic,
      NewElement,
      Icon,
      VueSimpleSpinner,
    },
    props: {
      element: {
        type: Object,
        required: true,
      },
      removeElement: {
        type: Function,
        required: true,
      },
      showActionButtons: {
        type: Function,
        required: true,
      },
      saveElement: {
        type: Function,
        required: true,
      },
    },
    computed: {
      doShowActionButtons() {
        return this.showActionButtons();
      },
    },
    methods: {
      doRemoveElement() {
        this.removeElement(this.element);
      },
      editElement() {
        console.log(this.element);
      },
      doSaveElement(elementParam, text) {
        this.saveElement(elementParam, text);
      },
    },
  };
</script>
