<template>
  <div class="splitview">
    <div id="left">
      <div class="story-container">
      <div id="story">
        <b-form @submit="onSubmit">
          <b-row>
            <b-col cols="12" md="auto">
              <b-button variant="outline-success" @click="goBack()"><icon name="arrow-left"></icon> {{ $t('story.edit.back') }}</b-button>
            </b-col>
            <b-col>
              <b-form-input id="titleinput"
                            type="text"
                            v-model="story.title"
                            required
                            placeholder="Enter title">
              </b-form-input>
            </b-col>
          </b-row>
          <b-row class="block">
            <b-col md="2">
              <b-button variant="outline-info" size="sm" @click="toggleAddElement(elements.length)">
                <icon name="paragraph"></icon> {{ $t('story.edit.add_text') }}
              </b-button>
            </b-col>
            <b-col md="2">
              <b-button variant="outline-info" size="sm">
                {{ $t('story.edit.add_line') }}
              </b-button>
            </b-col>
            <b-col md="2" class="ml-auto">
              <b-button variant="outline-info" size="sm">
                <icon name="list-alt"></icon> {{ $t('story.edit.condensed_view') }}
              </b-button>
            </b-col>
          </b-row>
          <b-form-group id="descgroup"
                        description="Be short and consise">
            <b-form-input id="descinput"
                          type="text"
                          size="sm"
                          v-model="story.description"
                          placeholder="Enter description (facultative)">
            </b-form-input>
          </b-form-group>
          <div class="elements">
            <draggable :list="elements" :options="{ group: { name: 'main', pull: true, put: ['main', 'tw-fav'] } }" @change="onChange">
              <transition-group>
                <ElementWrapper v-for="(element, index) in elements" :key="index" :element="element" :removeElement="removeElement" :saveElement="saveElement" :showActionButtons="showActionButtons" />
              </transition-group>
            </draggable>
          </div>
          <div class="row justify-content-center">
            <b-button class="m-2" @click="$router.back()" variant="outline-secondary">{{ $t('story.edit.cancel') }}</b-button>
            <b-button :disabled="registeredElements.length < 1" class="m-2" type="submit" variant="outline-success">{{ $t('story.edit.submit') }}</b-button>
          </div>
        </b-form>
      </div>
    </div>
    </div>
    <div id="right">
      <b-row>
        <b-col>
          <b-button variant="outline-success"><icon name="eye"></icon> {{ $t('story.edit.preview') }}</b-button>
        </b-col>
        <b-col>
          <b-button variant="success" @click="updateStory(true)">{{ $t('story.edit.publish') }}</b-button>
        </b-col>
      </b-row>
      <Finder></Finder>
    </div>
  </div>
</template>

<script>
  import fetchStory from '@/api/fetch';
  import VueSimpleSpinner from 'vue-simple-spinner';
  import ValidUrl from 'valid-url';

  import ElementWrapper from '@/components/story/ElementWrapper';
  import Finder from '@/components/Finder';

  import draggable from 'vuedraggable';

  import Icon from 'vue-awesome/components/Icon';
  import 'vue-awesome/icons/edit';
  import 'vue-awesome/icons/trash';
  import 'vue-awesome/icons/plus';
  import 'vue-awesome/icons/arrow-left';
  import 'vue-awesome/icons/eye';
  import 'vue-awesome/icons/paragraph';
  import 'vue-awesome/icons/list-alt';
  import 'vue-awesome/icons/bars';

  export default {
    name: 'NewStory',
    components: {
      VueSimpleSpinner,
      Icon,
      ElementWrapper,
      draggable,
      Finder,
    },
    props: {
      username: {
        type: String,
        required: false,
      },
      slug: {
        type: String,
        required: false,
        default: null,
      },
    },
    data() {
      return {
        elements: [{ type: 'new' }],
        story: {
          title: '',
          description: '',
        },
        elementAdded: null,
      };
    },
    computed: {
      registeredElements() {
        return this.elements.filter(element => !['new', 'edit', 'loading'].includes(element.type));
      },
    },
    created() {
      if (this.slug) {
        this.fetchData();
      }
    },
    mounted() {
      console.log(this.elements);
    },
    methods: {
      updateStory(published = false) {
        let url = '/stories';
        let method = 'POST';
        if (this.slug) {
          url = `/stories/${this.username}/${this.slug}`;
          method = 'PATCH';
        }

        if (this.story.body === '') {
          this.showEmptyBodyModal();
          return;
        }

        const storyToBeSent = {
          title: this.story.title,
          description: this.story.description,
          body: this.story.body,
          media: this.story.media,
          published,
          elements: this.elements.map(element => element.id).filter(element => element != null),
        };
        this.showLoading = true;
        const i18n = this.$i18n;

        fetchStory(url, this.$store, { method, body: JSON.stringify({ story: storyToBeSent }) })
          .then((response) => {
            console.log(response);
            this.story = response.story;
            this.showLoading = false;
            this.$snotify.success(i18n.translate('story.edit.save.success'));
            if (method === 'POST' || published) {
              this.$router.push({ name: 'Story', params: { slug: this.story.slug, username: this.$store.state.user.username, preview: 'preview' } });
            }
          });
      },
      onSubmit(evt) {
        evt.preventDefault();
        this.updateStory();
      },
      avatar_url(user) {
        if (user.avatar.startsWith('http')) {
          return user.avatar;
        }
        return `${this.prefix}/files/${user.avatar}`;
      },
      toggleAddElement(index) {
        this.elements.splice(index, 0, { type: 'new' });
      },
      saveElement(elementParam, text) {
        const element = elementParam;
        element.type = 'loading';
        const index = this.elements.indexOf(element);

        const valid = ValidUrl.is_web_uri(text);
        const type = valid ? 'url' : 'text';

        fetchStory('/elements', this.$store, { method: 'POST', body: JSON.stringify({ data: text, type }) })
          .then((response) => {
            this.elements.splice(index, 1, response);
          });
      },
      removeElement(element) {
        const index = this.elements.findIndex(elem => elem.id === element.id);
        if (index >= 0) {
          this.elements.splice(index, 1);
        }
      },
      onChange(e) {
        console.log(e);
        if (!Object.prototype.hasOwnProperty.call(e, 'added')) {
          return;
        }
        // We already have a Pickweaver Element
        if (e.added.element.type !== 'tweet') {
          return;
        }
        const self = this;
        const url = e.added.element.data.force_url;
        fetchStory('/elements', this.$store, { method: 'POST', body: JSON.stringify({ data: url, type: 'url' }) })
          .then((response) => {
            const myElement = self.elements.filter(el => Object.prototype.hasOwnProperty.call(el, 'data') && el.data.force_url === url).shift();
            console.log(myElement.id);
            myElement.id = response.id;
            console.log(myElement.id);
          });
        console.log(e);
      },
      showActionButtons() {
        return this.elements.every(element => !['new', 'edit', 'loading'].includes(element.type));
      },
      fetchData() {
        fetchStory(`/stories/${this.username}/${this.slug}/all`, this.$store).then((response) => {
          console.log(response.story);
          this.story = response.story;
          this.elements = response.story.elements.entries;
          this.showLoading = false;
        });
      },
      goBack() {
        this.$router.back();
      },
    },
  };
</script>

<style scoped>

  .splitview {
    display: flex;
  }

  #left {
    min-width: 640px;
    flex: 1;
  }

  #right {
    min-width: 430px;
    max-width: 700px;
    height: 100%;
  }

  #story {
    width: 100%;
    max-width: 900px;
    min-width: 570px;
    box-sizing: border-box;
    min-height: 600px;
    margin: 0 auto 20px;
    padding: 10px 5px 0;
    background: #fff;
    color: #333;
    font-size: 15px;
    line-height: 18px;
  }

  .story-container {
    background: #f5f5f5;
  }

  .block {
    margin: 10px 5px;
    padding: 5px;
  }

  .dragelem {
    cursor: grab;
  }
</style>

<style>
  #app {
    background: #f5f5f5;
  }
</style>
