<template>
  <div>
    <div>
      <div id="cover" :style="`background-image:url(${story.header})`" class="custom">
        <div class="info">
          <div class="content">
            <h1>{{ story.title }}</h1>
            <h2>{{ story.description }}</h2>
            <div class="stats">
              <router-link :to="{ name: 'Profile', params: { slug: story.user.slug } }">
                <span>by </span>
                <b-img height="30" :src="avatar_url(story.user)" rounded="circle" />
                <span>{{ story.user.display_name }}</span>
              </router-link>
              <span class="timestamp">{{ story.updated_at | moment('LLLL') }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="element" v-for="element in story.elements.entries" :data-element-id="element.id">
          <tweet :tweet="element.data" v-if="element.type === 'tweet'" :key="element.id" />
          <text-card :text="element.data" v-else-if="element.type === 'text'" :key="element.id" />
          <open-graph :opengraph="element.data" v-else-if="element.type === 'opengraph'" :key="element.id" />
          <you-tube :youtube="element.data" v-else-if="element.type === 'youtube'" :key="element.id" />
          <basic :metadata="element.data" v-else-if="element.type === 'basic'" :key="element.id" />
        </div>
      </div>
      <b-btn @click="$router.push({ name: 'EditStory', params:{ slug: story.slug, username: story.user.username } })" variant="outline-primary"
             class="card-action" v-if="story.user.id === $store.state.user.id">{{ $t('story.actions.edit') }}</b-btn>
      <b-btn @click="publishStory(true)" variant="outline-success"
             class="card-action" v-if="story.user.id === $store.state.user.id && !story.published">{{ $t('story.actions.publish.publish') }}</b-btn>
      <b-btn @click="publishStory(false)" variant="outline-warning"
             class="card-action" v-if="story.user.id === $store.state.user.id && story.published">{{ $t('story.actions.publish.unpublish') }}</b-btn>
      <b-btn @click="confirmDeleteStory" variant="outline-danger"
             class="card-action" v-if="story.user.id === $store.state.user.id">{{ $t('story.actions.delete.button') }}</b-btn>
      <b-modal ref="deleteModal" hide-footer :title="$t('story.actions.delete.warning.title')">
        <div class="d-block text-center">
          <h3>{{ $t('story.actions.delete.warning.paragraph', {story: story.title}) }}</h3>
        </div>
        <b-btn class="mt-3" variant="outline-danger" block @click="deleteStory()">{{ $t('story.actions.delete.warning.button') }}</b-btn>
      </b-modal>
    </div>
  </div>
</template>
<script>
import fetchStory from '@/api/fetch';
import { API_ORIGIN } from '@/api/_entrypoint';

import Tweet from '@/components/story/cards/tweet';
import TextCard from '@/components/story/cards/textcard';
import OpenGraph from '@/components/story/cards/opengraph';
import Basic from '@/components/story/cards/basic';
import YouTube from '@/components/story/cards/youtube';

export default {
  props: {
    story: {
      type: Object,
      required: true,
    },
    hasMedia: {
      type: Boolean,
    },
    publishStory: {
      type: Function,
      required: true,
    },
  },
  components: {
    Tweet, TextCard, OpenGraph, YouTube, Basic,
  },
  data() {
    return {
      prefix: API_ORIGIN,
    };
  },
  methods: {
    confirmDeleteStory() {
      this.$refs.deleteModal.show();
    },
    deleteStory() {
      fetchStory(`/stories/${this.story.user.username}/${this.story.slug}`, this.$store, { method: 'DELETE' }).then(() => {
        this.$refs.deleteModal.hide();
        this.$router.push({ name: 'MyStories' });
      });
    },
    avatar_url(user) {
      if (user.avatar.startsWith('http')) {
        return user.avatar;
      }
      return `${this.prefix}/files/${user.avatar}`;
    },
  },
};
</script>
<style lang="scss">
  a.card-link {
    color: red;
  }
  .story-date:before {
    content: "\00B7";
  }

  #cover {
    position: relative;
    width: 100%;

    &.custom {
      height: 84%;
      min-height: 480px;
      max-height: 720px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      .info {
        width: 100%;

        position: absolute;
        bottom: 0;
        padding-top: 30px;

        background: linear-gradient(top,rgba(42,49,60,0) 0,rgba(42,49,60,.65) 30%,rgba(42,49,60,.8) 70%,rgba(42,49,60,.8) 100%);

        @media screen and (max-width: 768px) {
          padding: 30px 0;
        }

        .content {
          max-width: 810px;
          margin: 0 auto;
          padding: 0 30px;

          h1 {
            color: #fff;

            margin: 0 0 16px 0;
            font-size: 48px;
            line-height: 65px;
            font-weight: 400;

            @media screen and (max-width: 768px) {
              font-size: 32px;
              line-height: 40px;
            }
          }

          h2 {
            color: rgba(255,255,255,.8);

            margin: 0 0 24px 0;
            font-size: 28px;
            line-height: 40px;
            font-weight: 400;

            @media screen and (max-width: 768px) {
              font-size: 18px;
              line-height: 28px;
            }
          }

          .stats {
            color: #fff;
            font-size: 12px;

            a {
              color: #fff;
              text-decoration: none;
            }

            &>span {
              margin-left: 14px;
            }
          }
        }
      }
    }
  }
</style>
