<template>
  <div>
    <story-card :story="story" :hasMedia="story.header != null" v-if="!showLoading && error === false" :publishStory="publishStory"/>
    <vue-simple-spinner size="big" message="Loading..." v-if="showLoading"></vue-simple-spinner>
    <div class="error" v-if="error">
      {{ this.error }}
    </div>
    <b-modal ref="emptyBodyModal" hide-footer :title="$t('story.form.invalid')">
      <div class="d-block text-center">
        <h3>{{ $t('story.form.empty_body') }}</h3>
      </div>
      <b-btn class="mt-3" variant="outline-danger" block @click="hideEmptyBodyModal">Close Me</b-btn>
    </b-modal>
  </div>
</template>

<script>
import fetchStory from '@/api/fetch';
import VueSimpleSpinner from 'vue-simple-spinner';

import StoryCard from '@/components/story/StoryCard';

export default {
  name: 'Story',
  props: {
    slug: {
      type: String,
      required: true,
    },
    username: {
      type: String,
      required: true,
    },
    preview: {
      type: String,
      required: false,
      default: '',
    },
  },
  components: {
    VueSimpleSpinner, StoryCard,
  },
  created() {
    this.fetchData(this.username, this.slug);
    window.addEventListener('scroll', this.handleScroll);
  },
  data() {
    return {
      showLoading: true,
      loadingMore: false,
      error: false,
      story: {
        id: null,
        title: '',
        description: '',
        body: '',
        elements: {
          page_number: 1,
          total_pages: 1,
          entries: [],
        },
        media: null,
        user: {
          username: '',
          id: null,
        },
      },
    };
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    fetchData(username, slug) {
      let url = `/stories/${username}/${slug}`;
      if (this.preview.length > 0) {
        url += '/all';
      }
      fetchStory(url, this.$store).then((response) => {
        console.log(response);
        this.story = response.story;
        this.showLoading = false;
      }).catch((err) => {
        console.log('err');
        Promise.resolve(err).then((data) => {
          if (data.error === 'Page not found') {
            this.$router.push({ name: 'PageNotFound' });
          }
          this.error = data.error;
          this.showLoading = false;
        });
      });
    },
    showEmptyBodyModal() {
      this.$refs.emptyBodyModal.show();
    },
    hideEmptyBodyModal() {
      this.$refs.emptyBodyModal.hide();
    },
    handleScroll() {
      if (((window.innerHeight + window.scrollY) + 100) >= document.body.offsetHeight) {
        console.log('scroll');
        if (!this.loadingMore && this.preview !== 'preview') {
          console.log('fetching more elements');
          this.fetchMoreElements();
        }
      }
    },
    fetchMoreElements() {
      console.log('Call for more elements');
      if (this.story.elements.page_number < this.story.elements.total_pages) {
        console.log(`we already have ${this.story.elements.page_number} on ${this.story.elements.total_pages} page of elements loaded`);
        this.loadingMore = true;
        fetchStory(`/stories/${this.story.user.username}/${this.story.slug}/elements/${this.story.elements.page_number + 1}`, this.$store).then((response) => {
          console.log(response);
          this.story.elements.page_number = response.page_number;
          this.story.elements.entries = this.story.elements.entries.concat(response.entries);
          this.loadingMore = false;
        });
      }
    },
    publishStory(status) {
      fetchStory(`/stories/${this.story.user.username}/${this.story.slug}`, this.$store, { method: 'PATCH', body: JSON.stringify({ story: { published: status } }) }).then((response) => {
        this.story = response.story;
        if (status) {
          this.$snotify.success(this.$i18n.translate('story.action.publish.success_publish'));
          this.$router.push({ name: 'Story', params: { slug: this.story.slug, username: this.story.user.username } });
        } else {
          this.$snotify.success(this.$i18n.translate('story.action.publish.success_unpublish'));
          this.$router.push({ name: 'Story', params: { slug: this.story.slug, username: this.story.user.username, publish: 'publish' } });
        }
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .auto-textarea-wrapper .auto-textarea-input pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
</style>
<style>
  .v-note-wrapper {
    z-index: 0 !important;
  }
</style>
