<template>
  <b-container>
    <b-button @click="connectTwitter">Twitter</b-button>
  </b-container>
</template>
<script>
  import storyFetch from '@/api/fetch';

  export default {
    name: 'Connect',
    data() {
      return {};
    },
    methods: {
      connectTwitter() {
        console.log({ callback: `${window.location.hostname}/callback` });
        storyFetch('/connect/twitter', this.$store, { method: 'POST', body: JSON.stringify({ callback: `${window.location.hostname}/callback` }) }).then((response) => {
          const popup = window.open(response.authenticate_url, 'Twitter Authentification', 'height=200,width=450');
          popup.addEventListener('popstate', (e) => {
            console.log('url changed');
            console.log(e);
            console.log(popup.location.url);
          });
        });
      },
    },
  };
</script>
<style>

</style>
