<template>
  <span>Loading, please wait...</span>
</template>
<script>
  import fetchStory from '@/api/fetch';

  export default {
    name: 'ConnectCallback',
    data() {
      return {};
    },
    created() {
      this.sendToken();
    },
    methods: {
      sendToken() {
        fetchStory('/connect/twitter/callback', this.$store, { method: 'POST', body: JSON.stringify({ oauth_token: this.$route.query.oauth_token, oauth_verifier: this.$route.query.oauth_verifier }) }).then((response) => {
          if (response.status === 'ok') {
            window.close();
          }
        });
      },
    },
  };
</script>
<style>

</style>
