<template>
  <div>
    <div class="w-100"></div>
    <div class="card">
      <div class="card-body">
        <b-row>
          <b-col cols="12" md="auto" v-if="opengraph.image && opengraph.image.url">
            <img class="card-img" :src="opengraph.image.url" alt="Card image cap" height="40">
          </b-col>
          <b-col>
            <h5 class="card-subtitle mb-2">{{ opengraph.title }}</h5>
            <p class="card-text">{{ opengraph.description }}</p>
            <a class="text-muted card-link" :href="opengraph.url" target="_blank">{{ opengraph.domain }}</a>
          </b-col>
        </b-row>
      </div>
    </div>
    <div class="w-100"></div>
  </div>
</template>
<script>
  export default {
    name: 'OpenGraph',
    props: {
      opengraph: {
        type: Object,
        required: true,
      },
    },
  };
</script>
