<template>
  <b-container>
    <b-form @submit="fetchLink">
      <b-form-row>
        <b-col>
          <b-input type="text" v-model="link"></b-input>
        </b-col>
        <b-col>
          <b-button type="submit" variant="success"><icon name="search"></icon></b-button>
        </b-col>
      </b-form-row>
    </b-form>
    <vue-simple-spinner size="big" message="Loading..." v-if="loading"></vue-simple-spinner>
    <draggable v-if="showResult" :list="parsedLinks" :options="{ group: { name: 'tw-fav', pull: 'clone', put: false } }">
      <transition-group>
        <b-card no-body v-for="card in parsedLinks" :key="card.id">
          <open-graph :opengraph="card.data" />
        </b-card>
      </transition-group>
    </draggable>
  </b-container>
</template>
<script>
  import storyFetch from '@/api/fetch';
  import OpenGraph from '@/components/story/cards/opengraph';
  import draggable from 'vuedraggable';
  import VueSimpleSpinner from 'vue-simple-spinner';

  import Icon from 'vue-awesome/components/Icon';
  import 'vue-awesome/icons/search';

  export default {
    name: 'LinkFinder',
    components: {
      OpenGraph, Icon, draggable, VueSimpleSpinner,
    },
    data() {
      return {
        loading: false,
        showResult: false,
        link: '',
        parsedLinks: [],
      };
    },
    methods: {
      fetchLink(evt) {
        evt.preventDefault();
        this.parsedLinks = [];
        this.loading = true;
        storyFetch('/elements', this.$store, { method: 'POST', body: JSON.stringify({ data: this.link, type: 'url' }) })
          .then((response) => {
            console.log(response);
            this.loading = false;
            this.showResult = true;
            this.parsedLinks.push(response);
          });
      },
    },
  };
</script>
