<template>
  <div>
    <b-container>
      <b-row v-if="connection">
        <b-tabs @input="changeTab">
          <b-tab active>
            <template slot="title">
              <icon name="heart"></icon> {{ $t('finder.twitter.favourites.title') }}
            </template>
            <vue-simple-spinner size="big" message="Loading..." v-if="loading"></vue-simple-spinner>
            <div class="favourites" v-if="!loading">
              <draggable :list="favourites" :options="{ group: { name: 'tw-fav', pull: 'clone', put: false } }">
                <transition-group>
                  <b-card no-body v-for="tweet in favourites" :key="tweet.id">
                    <tweet :tweet="tweet.data" :fullwidth="true" />
                  </b-card>
                </transition-group>
              </draggable>
            </div>
          </b-tab>
          <b-tab>
            <template slot="title">
              <icon name="user"></icon> {{ $t('finder.twitter.profile.title') }}
            </template>
            <vue-simple-spinner size="big" message="Loading..." v-if="loading"></vue-simple-spinner>
            <div class="searched" v-if="!loading">
              <b-form @submit="getProfileTweets">
                <b-form-row>
                  <b-col>
                    <b-input type="text" v-model="userProfileName"></b-input>
                  </b-col>
                  <b-col>
                    <b-button type="submit" variant="success"><icon name="search"></icon></b-button>
                  </b-col>
                </b-form-row>
              </b-form>
              <draggable :list="profileTweets" :options="{ group: { name: 'tw-fav', pull: 'clone', put: false } }">
                <transition-group>
                  <b-card no-body v-for="tweet in profileTweets" :key="tweet.id">
                    <tweet :tweet="tweet.data" :fullwidth="true" />
                  </b-card>
                </transition-group>
              </draggable>
            </div>
          </b-tab>
          <b-tab>
            <template slot="title">
              <icon name="search"></icon> {{ $t('finder.twitter.search.title') }}
            </template>
            <vue-simple-spinner size="big" message="Loading..." v-if="loading"></vue-simple-spinner>
            <div class="searched" v-if="!loading">
              <b-form @submit="getSearchedTweets">
                <b-form-row>
                  <b-col>
                    <b-input type="text" v-model="searchTerm"></b-input>
                  </b-col>
                  <b-col>
                    <b-button type="submit" variant="success"><icon name="search"></icon></b-button>
                  </b-col>
                </b-form-row>
              </b-form>
              <draggable :list="searched" :options="{ group: { name: 'tw-fav', pull: 'clone', put: false } }">
                <transition-group>
                  <b-card no-body v-for="tweet in searched" :key="tweet.id">
                    <tweet :tweet="tweet.data" :fullwidth="true" />
                  </b-card>
                </transition-group>
              </draggable>
            </div>
          </b-tab>
        </b-tabs>
      </b-row>
      <b-row v-else>
        {{ $t('finder.twitter.connect.title') }}
        <b-button @click="connectTwitter">{{ $t('finder.twitter.connect.button') }}</b-button>
      </b-row>
    </b-container>
  </div>
</template>
<script>
  import storyFetch from '@/api/fetch';
  import VueSimpleSpinner from 'vue-simple-spinner';
  import Tweet from '@/components/story/cards/tweet';
  import draggable from 'vuedraggable';

  import Icon from 'vue-awesome/components/Icon';
  import 'vue-awesome/icons/heart';
  import 'vue-awesome/icons/search';

  export default {
    name: 'TwitterFinder',
    components: {
      VueSimpleSpinner, Tweet, draggable, Icon,
    },
    data() {
      return {
        connection: false,
        favourites: [],
        searched: [],
        searchTerm: '',
        userProfileName: '',
        profileTweets: [],
        loading: true,
      };
    },
    created() {
      this.checkTwitterToken();
    },
    methods: {
      connectTwitter() {
        console.log({ callback: `${window.location.origin}/connect/callback` });
        storyFetch('/connect/twitter', this.$store, { method: 'POST', body: JSON.stringify({ callback: `${window.location.origin}/connect/callback` }) }).then((response) => {
          window.open(response.authenticate_url, 'Twitter Authentification', 'height=200,width=450');
        });
      },
      checkTwitterToken() {
        storyFetch('/connect/twitter/token', this.$store).then((response) => {
          if (response.status === 'ok') {
            this.connection = true;
            this.getFavourites();
          }
        });
      },
      getFavourites() {
        this.loading = true;
        storyFetch('/finder/twitter/favourites', this.$store).then((response) => {
          this.favourites = response.tweets.map(this.makeElement);
          this.loading = false;
          console.log(this.favourites);
        });
      },
      getSearchedTweets(evt) {
        this.loading = true;
        if (evt) {
          evt.preventDefault();
        }
        console.log(this.searchTerm);
        storyFetch('/finder/twitter/search', this.$store, { body: JSON.stringify({ search: this.searchTerm }), method: 'POST' }).then((response) => {
          this.searched = response.tweets.map(this.makeElement);
          this.loading = false;
          console.log(this.searched);
        });
      },
      getProfileTweets(evt) {
        this.loading = true;
        if (evt) {
          evt.preventDefault();
        }
        let userProfileName = this.userProfileName;
        if (userProfileName !== '') {
          userProfileName = `/${userProfileName}`;
        }
        storyFetch(`/finder/twitter/profile${userProfileName}`, this.$store).then((response) => {
          this.profileTweets = response.tweets.map(this.makeElement);
          this.loading = false;
          console.log(this.profileTweets);
        });
      },
      changeTab(tabIndex) {
        console.log(tabIndex);
        switch (tabIndex) {
          case 0:
            this.getFavourites();
            break;
          case 1:
            this.getProfileTweets();
            break;
          default:
            break;
        }
      },
      makeElement(element) {
        return { data: element, type: 'tweet', id: element.id };
      },
    },
  };
</script>
